#input{
  width: 10%;
}
.header{
  text-align: center;
  padding: 5% 0% 5% 0%;
  background-color: #efeb09;
  margin-left: -2%;
  margin-right: -1.2%;
  font-family: 'Monoton', cursive;
  ;
}
.main{
  background-color:#adad96;
  height: 100%
}
.info{
  background-color: #3c664f;

}
.info h3{
  font-family: 'Covered By Your Grace', cursive;

}
.info p{
  font-family: 'Mogra', cursive;
}
