#input{
  width: 10%;
}
.header{
  text-align: center;
  padding: 5% 0% 5% 0%;
  background-color: #efeb09;
  margin-left: -2%;
  margin-right: -1.2%;
  font-family: 'Monoton', cursive;
  border-bottom: 3px solid black;
}
.main{
border-left: 3px solid black;
}
.info{

}
.content{
  background-color:#adad96;
  padding-bottom: 14%;
}
